.row {
  margin: 20px 0;           /* spacing between rows */         
  color: white;
  
}

.row-scroll-buttons {
  position: relative;
 
}

.row h3 {
  color: white;           /* make sure title is visible */
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px 0;         /* spacing between title and posters */
}

/* Container for posters */
.row-posters {
  display: flex;              /* Horizontal row */
  overflow-x: auto;         /* Enable horizontal scrolling */
  overflow-y: hidden;       /* Hide vertical scrollbar */
  padding: 20px 0;
  gap: 10px;                  /* Space between images */
  scroll-behavior: smooth;  /* Smooth scrolling */
  scrollbar-width: none;    /* Hide scrollbar for Firefox */
}

/* Hide scrollbar (optional) */
.row-posters::-webkit-scrollbar {
  display: none;
 } 

/* Individual poster */
.row-poster {
  width: 180px;               /* Full width of container */
  max-height: 100px;
  object-fit: contain;
  transition: transform 450ms;
  cursor: pointer;
}

.row-poster:hover {
  transform: scale(1.08);
  
}

/* Large poster for Netflix Originals */
.row-posterLarge  {
  max-height: 300px;
  width:160px;
}

.row-posterLarge:hover {
  transform: scale(1.09);
}

/* For stacked column layout (if you want all posters in one column) */
.row-posters-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  max-height: 600px;  /* optional height for scrolling */
}
.row-posters-column::-webkit-scrollbar {
  display: none;
}
.row_arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 10;
  padding: 0 12px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s, background-color 0.2s;
}
.row-scroll-buttons:hover .row_arrow {
  opacity: 1;
}
.row_arrow.left {
  left: 0;
}

.row_arrow.right {
  right: 0;
}
.row_arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}